

/*# newdiv input [type="checkbox"]:checked  + p{

display: none;
text-decoration: line-through;

}*/

input[type=checkbox] + label {
  color: #000;
  font-style: italic;
} 
input[type=checkbox]:checked + label  {
  color: #f00;
  font-style: normal;
  text-decoration: line-through;
}